<!DOCTYPE html>
<html>
<head>
	<title>html table</title>
	<style>

	</style>
</head>
<body>
	<h1><u>employees information:-</u></h1>
	<table border="2px">
		<thead>
			<tr>
				<th>name</th>
				<th>age</th>
				<th>desg</th>
				
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>anita</th>
				<th>22</th>
				<th>html developer</th>
				
			</tr>
			    <th>sunita</th>
				<th>21</th>
				<th>sql developer</th>
				
			<tr>
				<th>vimala</th>
				<th>23</th>
				<th>python developer</th>
				
			</tr>
		</tbody>
	</table>
</body>
</html>